version: "3.9"

services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    networks: [modbus_net]

  modbus-server:
    image: galvarez0/pruebatcp1-server:latest
    container_name: modbus-server
    depends_on: [mosquitto]
    networks: [modbus_net]

  modbus-client-1:
    image: galvarez0/pruebatcp1-client:latest
    container_name: modbus-client-1
    command: ["1"]
    networks: [modbus_net]

  modbus-client-2:
    image: galvarez0/pruebatcp1-client:latest
    container_name: modbus-client-2
    command: ["2"]
    networks: [modbus_net]

networks:
  modbus_net:
    driver: bridge
