dm-server-test.datamecanic.com {
	handle / {
		reverse_proxy 127.0.0.1:8080
	}
	# Acceso: https://dm-server-test.datamecanic.com/chirpstack
	handle_path /chirpstack/* {
		reverse_proxy 127.0.0.1:8082
	}
	# Acceso: https://dm-server-test.datamecanic.com/api
	handle_path /api/* {
		reverse_proxy 127.0.0.1:8090
	}
	# Observabilidad
	# Grafana: host 127.0.0.1:3000
	handle_path /grafana/* {
		reverse_proxy 127.0.0.1:3000
	}
	# Prometheus: host 127.0.0.1:9091
	handle_path /prometheus/* {
		reverse_proxy 127.0.0.1:9091
	}
	# cAdvisor: host 127.0.0.1:8089
	handle_path /cadvisor/* {
		reverse_proxy 127.0.0.1:8089
	}
}